<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambiente</title>
    <link rel="stylesheet" href="/HorariosSena/Src/static/css/interfazmarlovy.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="../static/js/interfazmarlovy.js"></script>
</head>

<body>
    <section id="adicionales" class="adicionales">
        <div class="contenedor">
            <form>
                <h2>AMBIENTES</h2>
                <h3>Registrar Ambientes</h3>
                <div class="labelselect">
                    <label for="ambiente">Por favor, digite el nombre del ambiente:</label>
                    <input type="text" id="ambiente" placeholder="Ej: Computación" required>
                </div>

                <div class="labelselect">
                    <label for="ambiente">Por favor, seleccione el bloque:</label>
                    <select name="programa" id="programa" required>
                        <option value="" disabled selected>Click aquí</option>
                        <option value="Bloque 3">Bloque 3</option>
                        <option value="Bloque 7">Bloque 7</option>
                </div>
            </form>
        </div>
    </section>


    <section id="adicionales" class="adicionales">
        <br><br><br>
        <div class="contenedor">
            <form>
                <h2>CENTROS</h2>
                <h3>Registrar Centros</h3>
                <div class="labelselect">
                    <label for="nombre">Por favor, digite el nombre del centro:</label>
                    <input type="text" id="nombre" placeholder="Ej: Centro Industrial y Desarrollo Tecnológico"
                        required>
                </div>
                <div class="labelselect">
                    <label for="programa">Por favor, seleccione la regional</label>
                    <select name="programa" id="programa" required>
                        <option value="" disabled selected>Click aquí</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Antioquia">Antioquia</option>
                        <option value="Arauca">Arauca</option>
                        <option value="Atlántico">Atlántico</option>
                        <option value="Bolívar">Bolívar</option>
                        <option value="Boyacá">Boyacá</option>
                        <option value="Caldas">Caldas</option>
                        <option value="Caquetá">Caquetá</option>
                        <option value="Casanare">Casanare</option>
                        <option value="Cauca">Cauca</option>
                        <option value="Cesar">Cesar</option>
                        <option value="Chocó">Chocó</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Distrito Capital">Distrito Capital</option>
                        <option value="Guainía">Guainía</option>
                        <option value="Guaviare">Guaviare</option>
                        <option value="Huila">Huila</option>
                        <option value="La Guajira">La Guajira</option>
                        <option value="Magdalena">Magdalena</option>
                        <option value="Meta">Meta</option>
                        <option value="Nariño">Nariño</option>
                        <option value="Norte de Santander">Norte de Santander</option>
                        <option value="Putumayo">Putumayo</option>
                        <option value="Quindío">Quindío</option>
                        <option value="Risaralda">Risaralda</option>
                        <option value="San Andrés">San Andrés</option>
                        <option value="Santander">Santander</option>
                        <option value="Sucre">Sucre</option>
                        <option value="Tolima">Tolima</option>
                        <option value="Valle del Cauca">Valle del Cauca</option>
                        <option value="Vaupés">Vaupés</option>
                        <option value="Vichada">Vichada</option>

                    </select>
                </div>
                <div class="labelselect">
                    <label for="programa">Por favor, seleccione la ciudad:</label>
                    <select name="programa" id="programa" required>

                        <option value="" disabled selected>Click aquí</option>
                        <!-- Amazonas -->
                        <option value="Leticia">Leticia</option>

                        <!-- Antioquia -->
                        <option value="Medellín">Medellín</option>
                        <option value="Apartadó">Apartadó</option>
                        <option value="Rionegro">Rionegro</option>

                        <!-- Arauca -->
                        <option value="Arauca">Arauca</option>

                        <!-- Atlántico -->
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Sabanalarga">Sabanalarga</option>

                        <!-- Bolívar -->
                        <option value="Cartagena">Cartagena</option>

                        <!-- Boyacá -->
                        <option value="Tunja">Tunja</option>
                        <option value="Duitama">Duitama</option>
                        <option value="Sogamoso">Sogamoso</option>

                        <!-- Caldas -->
                        <option value="Manizales">Manizales</option>

                        <!-- Caquetá -->
                        <option value="Florencia">Florencia</option>

                        <!-- Casanare -->
                        <option value="Yopal">Yopal</option>

                        <!-- Cauca -->
                        <option value="Popayán">Popayán</option>

                        <!-- Cesar -->
                        <option value="Valledupar">Valledupar</option>

                        <!-- Chocó -->
                        <option value="Quibdó">Quibdó</option>

                        <!-- Cundinamarca -->
                        <option value="Bogotá">Bogotá</option>
                        <option value="Girardot">Girardot</option>
                        <option value="Fusagasugá">Fusagasugá</option>
                        <option value="Zipaquirá">Zipaquirá</option>

                        <!-- Distrito Capital -->
                        <option value="Bogotá">Bogotá</option>

                        <!-- Guainía -->
                        <option value="Inírida">Inírida</option>

                        <!-- Guaviare -->
                        <option value="San José del Guaviare">San José del Guaviare</option>

                        <!-- Huila -->
                        <option value="Neiva">Neiva</option>

                        <!-- La Guajira -->
                        <option value="Riohacha">Riohacha</option>

                        <!-- Magdalena -->
                        <option value="Santa Marta">Santa Marta</option>

                        <!-- Meta -->
                        <option value="Villavicencio">Villavicencio</option>

                        <!-- Nariño -->
                        <option value="Pasto">Pasto</option>
                        <option value="Tumaco">Tumaco</option>

                        <!-- Norte de Santander -->
                        <option value="Cúcuta">Cúcuta</option>

                        <!-- Putumayo -->
                        <option value="Mocoa">Mocoa</option>

                        <!-- Quindío -->
                        <option value="Armenia">Armenia</option>

                        <!-- Risaralda -->
                        <option value="Pereira">Pereira</option>
                        <option value="Dosquebradas">Dosquebradas</option>

                        <!-- San Andrés -->
                        <option value="San Andrés">San Andrés</option>

                        <!-- Santander -->
                        <option value="Bucaramanga">Bucaramanga</option>
                        <option value="Barrancabermeja">Barrancabermeja</option>

                        <!-- Sucre -->
                        <option value="Sincelejo">Sincelejo</option>

                        <!-- Tolima -->
                        <option value="Ibagué">Ibagué</option>
                        <option value="Espinal">Espinal</option>

                        <!-- Valle del Cauca -->
                        <option value="Cali">Cali</option>
                        <option value="Buenaventura">Buenaventura</option>
                        <option value="Palmira">Palmira</option>

                        <!-- Vaupés -->
                        <option value="Mitú">Mitú</option>

                        <!-- Vichada -->
                        <option value="Puerto Carreño">Puerto Carreño</option>



                    </select>
                </div>
                <div class="boton">
                    <button type="submit">Asociar</button>
                </div>
            </form>
        </div>
    </section>

</body>

</html>