<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centros</title>
    <link rel="stylesheet" href="/HorariosSena/Src/static/css/interfazmarlovy.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="../static/js/interfazmarlovy.js"></script>
</head>

<body>
    <section id="adicionales" class="adicionales">
        <div class="contenedor">
            <form>
                <h2>CENTROS</h2>
                <h3>Registrar Centro</h3>
                <div class="labelselect">
                    <label for="nombreCentro">Nombre del Centro</label>
                    <input type="text" id="nombreCentro" name="nombreCentro" required>
                </div>
                <div class="labelselect">
                    <label for="codigoCentro">Código del Centro</label>
                    <input type="text" id="codigoCentro" name="codigoCentro" required>
                </div>
                <div class="labelselect">

                    <label>Regional del Centro</label>
                    <select name="opciones">
                        <option value="">Amazonas</option>
                        <option value="">Antioquia</option>
                        <option value="">Arauca</option>
                        <option value="">Atlántico</option>
                        <option value="">Bogotá D.C.</option>
                        <option value="">Bolívar</option>
                        <option value="">Boyacá</option>
                        <option value="">Caldas</option>
                        <option value="">Caquetá</option>
                        <option value="">Casanare</option>
                        <option value="">Cauca</option>
                        <option value="">Cesar</option>
                        <option value="">Chocó</option>
                        <option value="">Córdoba</option>
                        <option value="">Cundinamarca</option>
                        <option value="">Guainía</option>
                        <option value="">Guaviare</option>
                        <option value="">Huila</option>
                        <option value="">La Guajira</option>
                        <option value="">Magdalena</option>
                        <option value="">Meta</option>
                        <option value="">Nariño</option>
                        <option value="">Norte de Santander</option>
                        <option value="">Putumayo</option>
                        <option value="">Quindío</option>
                        <option value="">Risaralda</option>
                        <option value="">San Andrés y Providencia</option>
                        <option value="">Santander</option>
                        <option value="">Sucre</option>
                        <option value="">Tolima</option>
                        <option value="">Valle del Cauca</option>
                        <option value="">Vaupés</option>
                        <option value="">Vichada</option>
                    </select>
                    <div class="boton">
                        <button type="submit">Asociar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>

</html>