<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfiles</title>
    <link rel="stylesheet" href="/HorariosSena/Src/static/css/formularioperfilestext.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="contenedor">
        <form action="">
            <h2>Perfil Del Instructor</h2>
            <div class="labelselect">
                <label for="profesion">Por favor, digite su ID</label>
                <input type="number" placeholder="Ej: 1096801877" required>
            </div>
            <div class="labelselect">
                <label for="profesion">Por favor, digite su profesión:</label>
                <input type="text" placeholder="Ej: Ingeniero Civil" required>
            </div>

            <div class="boton">
                <button type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</body>

</html>