<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfiles</title>
    <link rel="stylesheet" href="/HorariosSena/Src/static/css/formularioperfilesselect.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="contenedor">
        <div class="instru">
            <img src="/HorariosSena/Src/static/img/Instructor.jpg" alt="Instructor">
        </div>
        <form action="">
            <h2>Perfil Del Instructor</h2>
            <div class="labelselect">
                <label for="profesion">Selecciona tu profesión:</label>
                <select id="profesion" name="profesion" required>
                    <option value="" disabled selected>Elige una opción</option>
                    <option value="profesor">Profesor</option>
                    <!-- <option value="ingeniero">Ingeniero</option> -->
                    <option value="diseñador">Diseñador</option>
                    <option value="médico">Médico</option>
                    <option value="abogado">Abogado</option>
                    <option value="arquitecto">Arquitecto</option>
                    <option value="científico">Científico</option>
                    <option value="escritor">Escritor</option>
                    <option value="ingeniero_civil">Ingeniero Civil</option>
                    <option value="ingeniero_mecánico">Ingeniero Mecánico</option>
                    <option value="ingeniero_electrónico">Ingeniero Electrónico</option>
                    <option value="ingeniero_informático">Ingeniero Informático</option>
                    <option value="ingeniero_químico">Ingeniero Químico</option>
                    <option value="ingeniero_estructural">Ingeniero Estructural</option>
                    <option value="ingeniero_ambiental">Ingeniero Ambiental</option>
                    <option value="ingeniero_industrial">Ingeniero Industrial</option>
                    <option value="ingeniero_telecomunicaciones">Ingeniero en Telecomunicaciones</option>
                    <option value="ingeniero_aeroespacial">Ingeniero Aeroespacial</option>
                    <option value="ingeniero_biomedical">Ingeniero Biomédico</option>
                    <option value="ingeniero_naval">Ingeniero Naval</option>
                    <option value="ingeniero_agronómico">Ingeniero Agrónomo</option>
                    <option value="ingeniero_sanitario">Ingeniero Sanitario</option>
                    <option value="ingeniero_energético">Ingeniero Energético</option>
                    <option value="ingeniero_materiales">Ingeniero de Materiales</option>
                    <option value="ingeniero_de_procesos">Ingeniero de Procesos</option>
                    <option value="ingeniero_de_transporte">Ingeniero de Transporte</option>
                    <option value="ingeniero_de_control">Ingeniero de Control</option>
                    <option value="ingeniero_de_mantenimiento">Ingeniero de Mantenimiento</option>
                    <option value="ingeniero_de_datos">Ingeniero de Datos</option>
                    <option value="ingeniero_de_software">Ingeniero de Software</option>
                    <option value="ingeniero_de_redes">Ingeniero de Redes</option>
                    <option value="ingeniero_de_sistemas">Ingeniero de Sistemas</option>
                    <option value="ingeniero_de_calidad">Ingeniero de Calidad</option>
                    <option value="ingeniero_de_seguridad">Ingeniero de Seguridad</option>
                    <option value="ingeniero_de_auditoria">Ingeniero de Auditoría</option>
                    <option value="ingeniero_de_flujos">Ingeniero de Flujos</option>
                </select>
            </div>
            <div class="boton">
                <button type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</body>

</html>