<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interfazcoordinador</title>
    <link rel="stylesheet" href="/HorariosSena/Src/static/css/interfazcoordinador.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="../static/js/interfazmarlovy.js"></script>
</head>

<body id="home">
    <header class="header">
        <nav class="sena-nav">
            <ul>
                <li><a href="../template/interfazcoordinador.html">Home</a></li>
                 
                        <li><a href="../template/crear_ambientes.html">Registrar Ambiente</a></li>
                        <li><a href="../template/crear_centros.html">Registrar Centro</a></li>
                        <li><a href="../template/crear_perfiles.html">Crear Perfiles</a></li>
                        <li><a href="../template/crear_trimestre.html">Crear Trimestres del Año</a></li>
                    
                
                <li>
                    <a href="../template/registrar_instru_marlovy.html">Instructor</a>
                    <!-- Menú desplegable -->
                    <ul>
                        <li><a href="../template/registrar_instru_marlovy.html">Registrar Instructor</a></li>
                        <li><a href="../template/registrar_instru_marlovy.html">Asociar Instructor</a></li>
                        <li><a href="../template/registrar_instru_marlovy.html">Crear Agenda</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </header>

    <section>
        <section class="hero">
            <div class="hero-content">
                <p>Selecciona la opción que deseas usar arriba ↑
                </p>
                <h2>Bienvenid@! Aquí harás de manera más fluida tu trabajo, disfruta!</h2>

            </div>
        </section>
    </section>


</body>

</html>