<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor</title>
    <link rel="stylesheet" href="../static/css/interfazmarlovy.css">
    <link rel="icon" href="../static/img/xx_modified-removebg-preview.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/js/interfazmarlovy.js" defer></script>
</head>
<body id="hom">
    {% include 'carga_gestor.html' %}
    <header>
        {% include "nav.html" %}
    </header>

    <section>
        <div class="hero">
            <div class="hero-content">
                <p>Selecciona la opción que deseas usar arriba ↑</p>
                <h2>Bienvenid@! Aquí harás de manera más fluida tu trabajo, disfruta!</h2>
            </div>
        </div>
    </section>
</body>
</html>
