<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="../static/css/masivainstru.css">
</head>
<body>

    <h1>Registrar Usuarios</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="archivoExcel">Subir Archivo Excel</label>
        <input type="file" id="archivoExcel" name="archivoExcel" accept=".xls,.xlsx" required>

        <input type="submit" value="Registrar">
    </form>

 
</body>
</html>
